{% if include.tag %}
{% assign gallerie = site.gallerie | where_exp:"item", "item.id contains include.tag" %}
{% else %}
{% assign gallerie = site.gallerie %}
{% endif %}

<style>
  .gallery {
    padding: 0;
margin: 0;
list-style: none;
display: inline-flex;
flex-wrap: wrap;
  }
  .gallery li { font-size: .9rem; padding: 0.5rem}
  .gallery li img { float:none; height:10rem; margin: 0.0rem; }
  .gallery li div { width:14rem; }
</style>

{% for file in site.documents %}
  {% assign crumbs = file.path | split: "/" %}

  {% if crumbs.first == "_gallerie" and file.path contains include.tag %}
  {% if file.extname == ".jpg" or file.extname == ".png" %}

{% assign md_path = file.path | split: file.extname | join: file.extname | append: ".md" %}

 {% assign existing = gallerie | where_exp:"item", "item.path == md_path " %}
 {% unless existing.first %}
 {% assign gallerie = gallerie | push: file %}
 {% endunless%}

  {% endif %}
  {% endif %}
{% endfor %}

<ul  class="gallery">
{% assign gallerie = gallerie | sort: "weight" %}
{% for bild in gallerie %}
  <li>


{% if bild.width and bild.height %}
{% assign css_width = bild.width | times: 10.0 |divided_by: bild.height %}
{% endif %}

    {% if bild.ext %}
    <img {% if bild.width and bild.height %}style="width: {{ css_width }}rem;"{% endif %} src="{{ bild.path | replace_first: '_','/' | split: '.md' | join: '.md'| prepend: site.baseurl }}.jpg" >
    {% else %}
    <img src="{{ bild.path  | replace_first: '_','/' | prepend: site.baseurl }}" >
    {% endif %}
{% assign description = bild.content| strip| strip_newlines %}
{% unless description == "" %}
    <div {% if bild.width and bild.height %}style="width: {{ css_width }}rem;"{% endif %}>{{ description  }}</div>
{% endunless %}

  </li>
{% endfor %}
</ul>
